html {
  font-size:16px;
  line-height:20px;
}

body {
  font: normal normal normal 1em/1.5em "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
}

div, p, blockquote, dl, dt, dd, section, article, header, footer, aside, figure, form, fieldset {
  display:block;
}

ul {
  padding-left:20px;
  list-style-image: url("img/arrow.png");
}

.hide-desktop {
  display:none;
}
.hide-mobile {
  display:block;
}

.container_16 {
  overflow:hidden;
  margin-bottom:30px;
  padding: 10px;
}

.icon {
  background: transparent url('img/sprite-bts.png') bottom right no-repeat;
}

.master-head {
  background:#b0cda9;
  border-bottom: 4px #706930 solid;
}

.top {
  margin-bottom:0;
}

.fashion-blog {
  color: #fff;
  background: #706930;

  h4 {
    color:inherit;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.shadow {
  -moz-box-shadow:    0px 1px 10px 2px #999;
  -webkit-box-shadow: 0px 1px 10px 2px #999;
  box-shadow:         0px 1px 10px 2px #999;
  margin-bottom:20px
}

.master-footer {
  overflow:hidden;
  background: #e0e0e0;
}