header {
  text-align:center;
}

header {
  form {
    margin:10px 0;
  }

  .icon {
    display:inline-block;
    height: 25px;
    width: 25px;
    margin:50px 1px 0 0;
  }
  .facebook {background-position: -203px -401px;}
  .twitter {background-position: -231px -401px;}
  .instagram {background-position: -258px -401px;}
  .google {background-position: -285px -401px;}
  .pinterest {background-position: -313px -401px;}
}

.featured-slider {
  margin-bottom:20px;

  img {
    width:100%;
    height:auto;
  }
}

.grid_8 > h4 {
  line-height:20px;
  margin:0;
}

.content {
  min-height:300px;

  h2 {
    .link-title-archive {
      background: url('img/flower.jpg') top left no-repeat;
      color:#818523;
      padding-left:48px;
      display:block;
      line-height:1.8em;
    }
  }

  .post-title, .post-title-archive {
    padding-top:30px;
    font-size:4.5em;
    line-height:1.5em;
    color: #818523;
    font-weight:normal;
  }

  .post-title-archive {
    margin-bottom: 20px;
  }

  .ampliacao-menu {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
    padding:35px 0;
    margin: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size:28px;
    line-height:28px;

    a, a:visited {
      color:#818523;
      margin-right:30px;
      text-decoration:none;
    }
    a:hover {
      border-bottom:3px solid #818523;
    }
    .active {
      border-bottom:3px solid #818523;
    }
  }
  img {
    margin:0;
  }
}
.content-background {
  background: transparent url('img/page-bg.jpg') top center no-repeat;
}

.content-single {
  time {
    color: #bbb;
  }

  h2 {
    background: url('img/flower.jpg') top left no-repeat;
    color:#818523;
    padding-left:48px;
    line-height: 1.75em;
  }
}

.content, .content-single {
  p {
    margin-bottom:20px;
  }
}

.ampliation {
  background: #f0f2c1;
}

.list_of_links {
  padding-top: 10px;
  border-top: 1px dotted #bbb;
}

.main-news {
  border-top: 1px #999 solid;
  padding: 10px;

  img {
    width:100%;
    height:auto;
  }

  @media (min-width:960px) {
    img {width:300px;height:235px;}
  }
}

.promos_title, .movie_title, .event_title, .shop_guide_title {
  background:#fff;
  display:inline-block;
  z-index:5;
  position:relative;
  padding-right:5px;
}

.container-movie {
  #imageFlowSlider_navigation {
    display:none;
    height:0;
  }
}

aside {
  .searchform {
    .field {
      width:97%;
      padding:5px 0 5px 30px;
      margin: 10px 0;
      border: #d7e6d4 1px solid;
      background:#f4f5f4 url('img/search.gif') top left no-repeat;
      color:#bfc19c;
    }
  }
  .blog-moda-list, .blog-moda-archive {
    h5 {
      color: #818523;
    }
    a, a:visited {
      display:block;
      padding-left:20px;
      color:#888;
      font-size:15px;
      line-height:19px;
      font-style:italic;
    }
  }
  .blog-moda-archive-list {
    list-style:none;
    padding-left:0;
    margin-top:0;
    text-transform:capitalize;
  }
}

.container_16 {
  .promos, .movies, .events, .guides {
    border-top: 1px #999 solid;
    margin-top:-20px;
    margin-bottom:10px;
  }

  .movie-slide {
    overflow:hidden;
    height: 550px;

    #imageFlowSlider .scrollbar {
      border-bottom:1px solid #000;
    }

    .imageFlowSlider_navigation {
      display:none;
    }
  }

  .social-sharing-buttons {
    display:block;
    overflow:hidden;
    padding:10px 0;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    margin: 10px 0;
  }
}

article {
  > div {
    margin-bottom:100px;
  }
}

.fashion-blog {
  .container_16 {
    margin: 0 auto;
  }
  padding: 0 0 8px 0;
}

.movie-meta {
  margin-bottom: 15px;
}

footer {
  text-align:center;
}

.shop-guide {
  & .grid_4 div {
    overflow:hidden;
  }
  & .grid_4 a {
    float:left;
    margin:0 10px 10px 0;
  }
  & .grid_4 .icon {
    display:block;
    height: 65px;
    width: 65px;
    margin:0 15px 0 0;
    background-position: 0 0;
  }

  // w35 h8
  & .grid_4 .shoes {background-position:0 -288px;}
  & .grid_4 .nursery {background-position:0 -216px;}
  & .grid_4 .jewel {background-position:0 -144px;}
  & .grid_4 .perfume {background-position:0 -72px;}
  & .grid_4 .phone {background-position:0 -360px;}

  & .grid_4 .food {background-position:-199px 0;}
  & .grid_4 .cd {background-position:-100px -288px;}
  & .grid_4 .photo {background-position:-199px -216px;}
  & .grid_4 .fashion {background-position:-199px -144px;}
  & .grid_4 .pet {background-position:-100px -72px;}
  & .grid_4 .travel {background-position:-100px -360px;}

  & .grid_4 .sport {background-position:-100px 0;}
  & .grid_4 .cinema {background-position:-199px -288px;}
  & .grid_4 .import {background-position:-100px -216px;}
  & .grid_4 .beach {background-position:-100px -144px;}
  & .grid_4 .clothes {background-position:-199px -72px;}

  & .grid_4 .toy {background-position:-299px 0;}
  & .grid_4 .mail {background-position:-299px -288px;}
  & .grid_4 .child {background-position:-299px -216px;}
  & .grid_4 .park {background-position:-299px -144px;}
  & .grid_4 .services {background-position:-299px -72px;}
}

.foursquare {
  background: rgb(0,149,64);
  color: #fff;
  text-align:center;

  span {
    text-transform:uppercase;
  }
  .total-checkins {
    font-size:2.75em;
    line-height:1.5em;
    display: block;
  }
  .text-checkins {
    font-size:0.865em;
    line-height:1.5em;
  }
}

.twitter-widget {
  & div .widgettitle, .twitterwidget, .twitterwidget-title, .entry-meta {
    display:none;
  }
  div a, div a:visited {
    color: blue;
  }
  div ul {
    list-style:none;
    margin-top:0;
    li {
      padding-bottom:15px;
    }
  }
}

.instagram-widget {
  background:#18181d;
  > div {
    width:100%;
    padding: 10px;
    margin:0 auto;
  }
  a {
    display:inline-block;
    margin: 0 6px 10px 6px;
  }
}

.footer_nav_inside {
  padding: 0 20px;
  border-left: 1px dotted #444;
  border-right: 1px dotted #444;

  > div {
    font-size: .75em;
    line-height: 1.25em;

    & > h4 {
      text-transform: capitalize;
      color:black;
      font-weight:bold;
    }
  }
  & a, & a:visited {
    color: #444;
  }
}

.footer-nav {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-address {
  margin-top:40px;
}

.footer-phone {
  font-size:2.5em;
  font-weight: bold;
  line-height: 1.25em;
}

footer {
  form {
    h4 {
      color: #000;
      text-transform: capitalize;
    }
    & input, & textarea {
      width: 98%%;
      padding:5px;
      margin:5px 0;
      border:1px #aaa solid;
      border-radius: 6px;
    }
    & [type='submit'] {
      width: 100px;
    }
  }
}

#post-118 {
  background: none;
  margin-top:-70px;

  .social-sharing-buttons:first-child {
    display:none;
  }

  @media (min-width:1024px) {
    img.alignright {
      padding-left:8%;
    }
  }
}
.post-96 {
  padding: 10px;
  background:#dfe0c8;
}
#post-171, .fashion-blog, .eventos-news, .promo-news {
  .grid_4 {
    height:200px;
    overflow:hidden;
    div {
      position:relative;
      height:100%;
      width:100%;
      img {
        height:auto;
        width:100%;
      }
      span {
        display:none;
        position:absolute;
        background:#8c852e;
        background:rgba(140,133,46,.5);
        color: white;
        bottom:0;
        left:0;
        width:100%;
        padding:5px;
        a {
          color:#fff;
        }
      }
    }
  }
}