body {
  color:#666;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
  color: #1a4405;
  font-weight:500;
}

h4 {
  font-size:1.4em;
  line-height:1.9em;
  text-transform: uppercase;
  margin-bottom:5px;
}

h5 {
  font-size:1.3em;
  line-height:1.8em;
  text-transform: uppercase;
}

h6 {
  font-size:1.2em;
  line-height:1.7em;
}

a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

header {
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
  text-align:center;
  font-size: 18px;
  text-transform: uppercase;

  & a, & a:visited {
    color:#706930;
  }
}

.main-news {
  & a, & a:visited {
    color:#706930;
  }
  p {
    font-size:0.87em;
    line-height:1.37em;
  }
}

.movie-meta {
  color: #a36b34;
  text-transform:uppercase;
  letter-spacing: -1px;
  font-size:0.867em;
  line-height: 1.367em;

  span {
    padding-right:10px;
    margin-right:3px;
    border-right: 1px #a36b34 solid;
  }
  span:last-child {
    border-right:none;
  }
}

.fashion-blog {
  p {
    font-size:.867em;
  }
}

.shop-guide {
  .grid_4 > div {
    display:table;
    margin-bottom:10px;
  }
  .grid_4 a {
    margin-bottom: 0;
    display:inline-block;
    height:55px;
    padding:0;
  }
  .grid_4 p {
    display: table-cell;
    vertical-align:middle;
    margin: 0;
    color:#a7a9ac;
  }
}

.social-timelines {
  color: #1a4405;
  a, a:visited {
    color:#1a4405;
  }
  ul {
    list-style-position:inside;
    padding-left:0;
  }
  .first-video {
    padding-bottom:10px;
    border-bottom:1px dotted #bbb;
    margin-bottom:10px;
  }

  .see-more {
    display:block;
    padding-bottom:5px;
    border-bottom:1px solid #bbb;
    text-transform: uppercase;
    font-size:0.8em;
    font-weight:bold;
  }
}