/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
html {
  font-family: sans-serif;
  background: #ead3d3;
}
body {
  color: #7a6363;
  border-top: 0.5em #ad9696;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #210a0a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #ac3232;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #8a1010;
}
hr {
  background-color: #cdb6b6;
}
label {
  color: #584141;
}
.input-text,
input[type=text],
textarea {
  border: 1px solid #bca5a5;
}
.input-text:focus,
input[type=text]:focus,
textarea:focus {
  border: 1px solid #9a8383;
}
mark {
  color: #584141;
}
/* 1.2 Hyperlinks */
a {
  color: #ac3232;
}
a:hover {
  color: #8a1010;
}
#nav-home a {
  border-right: 1px solid #250e0e;
  color: #e0c9c9;
}
#nav-home a:hover {
  background-color: #140000;
}
.nav a {
  color: #e0c9c9;
}
.nav a:hover {
  background: #140000;
}
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
  background: #140000;
}
/* Optional Styling */
#navigation {
  background: #680000;
  background: -webkit-gradient(linear, left top, left bottom, from(#680000), to(#460000));
  background: -webkit-linear-gradient(#680000, #460000);
  background: -moz-linear-gradient(center top, #680000 0%, #460000 100%);
  background: -moz-gradient(center top, #680000 0%, #460000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#680000,endColorstr=#460000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#680000, endColorstr=#460000)";
}
#header .woocommerce-nav {
  color: #473030;
}
#header .woocommerce-nav ul li a {
  color: #361f1f;
  border-bottom: 1px solid #ad9696;
}
#header .woocommerce-nav ul li.cart a {
  color: #ac3232;
}
#header .woocommerce-nav ul li.checkout a {
  border: 1px solid #bea7a7;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ecdfdf));
  background: -webkit-linear-gradient(#ffffff, #ecdfdf);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ecdfdf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ecdfdf)";
  text-shadow: 0 1px 0 #ffebeb #ffffff;
}
#header .woocommerce-nav ul li.checkout a:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffeeee));
  background: -webkit-linear-gradient(#ffffff, #ffeeee);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ffeeee 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ffeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ffeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffeeee)";
}
#header .woocommerce-nav ul li:after {
  color: #ad9696;
}
#header #search-top .submit {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ecdfdf));
  background: -webkit-linear-gradient(#ffffff, #ecdfdf);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ecdfdf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ecdfdf)";
  border: 1px solid #ad9696;
  border-left: 0;
}
#header #search-top .submit:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffeeee));
  background: -webkit-linear-gradient(#ffffff, #ffeeee);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ffeeee 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ffeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ffeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffeeee)";
}
#homepage .slider-wrap #slider .overview li a .meta h3 {
  color: #7a6363;
}
#footer {
  background: #281515;
}
#footer .col-full {
  border-top: 1px solid #392626;
}
#footer-widgets {
  background: #281515;
  text-shadow: 0 1px 0 #170404;
}
#footer-widgets .widget {
  color: #7a6363;
}
#footer-widgets .widget h3 {
  color: #cfb8b8;
}
#footer-widgets .widget a {
  color: #ad9696;
}
#footer-widgets .widget a:hover {
  color: #e0c9c9;
}
#footer-widgets #searchform,
#footer-widgets .searchform {
  border: 1px solid #170404 !important;
  -webkit-box-shadow: 0 0 0 1px #5b4848 !important;
  -moz-box-shadow: 0 0 0 1px #5b4848 !important;
  box-shadow: 0 0 0 1px #5b4848 !important;
}
#footer-widgets .widget_woo_twitter * {
  border-color: #4a3737;
}
#footer-widgets .widget_woo_twitter li {
  background: #392626;
}
#footer-widgets .widget_woo_twitter li:after {
  border-color: #4a3737 transparent transparent transparent;
}
#footer-widgets #tabs ul.wooTabs {
  background: #bd4343;
  background: -webkit-gradient(linear, left top, left bottom, from(#bd4343), to(#ac3232));
  background: -webkit-linear-gradient(#bd4343, #ac3232);
  background: -moz-linear-gradient(center top, #bd4343 0%, #ac3232 100%);
  background: -moz-gradient(center top, #bd4343 0%, #ac3232 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343,endColorstr=#ac3232);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343, endColorstr=#ac3232)";
  border: 1px solid #8a1010;
}
#footer-widgets #tabs ul.wooTabs li a {
  border-right: 1px solid #9b2121;
}
#footer-widgets #tabs ul.wooTabs li a:hover,
#footer-widgets #tabs ul.wooTabs li a.selected {
  background-color: #9b2121 !important;
  border-left: 1px solid #9b2121;
}
#footer-widgets #tabs li.fix {
  border-bottom: 1px solid #392626;
}
.breadcrumb {
  color: #8b7474;
}
.breadcrumb a {
  color: #8b7474;
}
.breadcrumb a:hover {
  color: #695252;
}
.breadcrumb + h1 {
  border-bottom: 1px solid #cdb6b6;
}
.feature-wrap {
  border-top: 1px solid #cdb6b6;
  background: #e0c9c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0c9c9), to(#fbe4e4));
  background: -webkit-linear-gradient(#e0c9c9, #fbe4e4);
  background: -moz-linear-gradient(center top, #e0c9c9 0%, #fbe4e4 100%);
  background: -moz-gradient(center top, #e0c9c9 0%, #fbe4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0c9c9,endColorstr=#fbe4e4);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e0c9c9, endColorstr=#fbe4e4)";
}
.carousel ul.carousel-products li .img-wrap {
  border: 1px solid #cdb6b6;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.carousel ul.carousel-products li .img-wrap:hover {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #bca5a5;
  -webkit-box-shadow: 0 1px 2px 0 #bca5a5;
  -moz-box-shadow: 0 1px 2px 0 #bca5a5;
  -o-box-shadow: 0 1px 2px 0 #bca5a5;
}
.carousel ul.carousel-products li h3 a {
  color: #7a6363;
}
.carousel ul.carousel-products li .carousel-price {
  color: #473030;
}
.slickscroll_horizontal_scrollbar {
  background: #5b4848;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b4848), to(#392626));
  background: -webkit-linear-gradient(#5b4848, #392626);
  background: -moz-linear-gradient(center top, #5b4848 0%, #392626 100%);
  background: -moz-gradient(center top, #5b4848 0%, #392626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b4848,endColorstr=#392626);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b4848, endColorstr=#392626)";
}
.archive_header {
  border-bottom: #cdb6b6 1px solid;
}
.meta {
  color: #ad9696;
}
.meta ul {
  background: #ecdbdb;
  border-top: 2px solid #ac3232;
}
.meta ul li a {
  color: #ad9696;
}
.meta ul li a:hover {
  color: #7a6363;
}
.meta ul li a:before,
.meta ul li a:after {
  background: #ad9696;
}
.meta ul li.date:before,
.meta ul li.date:after {
  border: 2px solid #bea7a7;
  background: transparent;
}
.meta ul li.date:after {
  background: transparent;
  border-width: 0 0 2px 2px;
}
.meta ul li.category a:after {
  background: #ad9696;
}
.meta ul li.comments a:after {
  border: 2px solid transparent;
  border-top-color: #ad9696;
  border-left-color: #ad9696;
  background: transparent;
}
.meta ul li.tags:before {
  background: #ad9696;
}
.post img,
.post img.thumbnail {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.post img:hover,
.post img.thumbnail:hover {
  border-color: #ab9494;
}
.nav-entries a {
  color: #7a6363;
}
.woo-pagination .page-numbers {
  color: #584141;
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
  background: #efd8d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#efd8d8), to(#dec7c7));
  background: -webkit-linear-gradient(#efd8d8, #dec7c7);
  background: -moz-linear-gradient(center top, #efd8d8 0%, #dec7c7 100%);
  background: -moz-gradient(center top, #efd8d8 0%, #dec7c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efd8d8,endColorstr=#dec7c7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efd8d8, endColorstr=#dec7c7)";
  text-shadow: 0 1px 0 #efd8d8;
}
.woo-pagination .page-numbers:hover {
  background: #efd8d8;
  border-color: #ab9494;
}
.woo-pagination .page-numbers.current {
  background: #ac3232;
  border-color: #ac3232;
}
.woo-pagination .dots:hover {
  background: none;
}
/* 3.4 Single Post Author */
#post-author {
  border: 1px solid #cdb6b6;
  border-width: 1px 0 1px;
}
#post-author .profile-image {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
/* 3.5 Tables */
table {
  border: 1px solid #bca5a5;
}
table th {
  background: #efd8d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#efd8d8), to(#dec7c7));
  background: -webkit-linear-gradient(#efd8d8, #dec7c7);
  background: -moz-linear-gradient(center top, #efd8d8 0%, #dec7c7 100%);
  background: -moz-gradient(center top, #efd8d8 0%, #dec7c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efd8d8,endColorstr=#dec7c7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efd8d8, endColorstr=#dec7c7)";
  box-shadow: inset 0 1px 0 0 #efd8d8;
  -webkit-box-shadow: inset 0 1px 0 0 #efd8d8;
  -moz-box-shadow: inset 0 1px 0 0 #efd8d8;
  -o-box-shadow: inset 0 1px 0 0 #efd8d8;
  border: 1px solid #bca5a5;
  color: #473030;
}
table td {
  border: 1px solid #bca5a5;
}
/* 3.6 Connect */
#connect {
  border: 1px solid #cdb6b6;
  border-width: 0 0 1px;
}
#connect .related-posts {
  border-left: 1px solid #cdb6b6;
}
/* 3.7 Post Navigation */
#post-entries {
  border: 1px solid #cdb6b6;
  background: #fffafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffafa), to(#dec7c7));
  background: -webkit-linear-gradient(#fffafa, #dec7c7);
  background: -moz-linear-gradient(center top, #fffafa 0%, #dec7c7 100%);
  background: -moz-gradient(center top, #fffafa 0%, #dec7c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fffafa,endColorstr=#dec7c7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fffafa, endColorstr=#dec7c7)";
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
#post-entries a {
  color: #361f1f;
  text-shadow: 0 1px 0 #efd8d8;
}
#post-entries a:hover {
  background: #ffe9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe9e9), to(#efd8d8));
  background: -webkit-linear-gradient(#ffe9e9, #efd8d8);
  background: -moz-linear-gradient(center top, #ffe9e9 0%, #efd8d8 100%);
  background: -moz-gradient(center top, #ffe9e9 0%, #efd8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffe9e9,endColorstr=#efd8d8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffe9e9, endColorstr=#efd8d8)";
}
#post-entries .nav-prev a {
  border-right: 1px solid #cdb6b6;
}
#post-entries .nav-next a {
  border-left: 1px solid #cdb6b6;
}
.widget {
  border-bottom: 1px solid #cdb6b6;
}
.widget a {
  color: #311a1a;
}
.widget a:hover {
  color: #ac3232;
}
.widget_woo_blogauthorinfo .avatar {
  border: 1px solid #cdb6b6;
}
.widget_woo_twitter ul li {
  border: 1px solid #cdb6b6;
}
.widget_woo_twitter ul li:after {
  border: 0.5em solid #cdb6b6;
  border-color: #cdb6b6 transparent transparent transparent;
}
#tabs ul.wooTabs li a {
  border: 1px solid #cdb6b6;
}
#tabs .inside li.fix {
  border-bottom: 1px dotted #cdb6b6;
}
#tabs .inside li.fix .thumbnail,
#tabs .inside li.fix .avatar {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
  border: 1px solid #cdb6b6;
}
.widget_price_filter .price_slider_amount {
  color: #9c8585;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #7a6363;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff, 0 0 2px #ad9696;
  -moz-box-shadow: inset 0 0 0 1px #ffffff, 0 0 2px #ad9696;
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 2px #ad9696;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  -webkit-box-shadow: inset 0 0 0 1px #ffffff, 0 0 4px #ac3232;
  -moz-box-shadow: inset 0 0 0 1px #ffffff, 0 0 4px #ac3232;
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 4px #ac3232;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background: #ac3232;
  background: -webkit-gradient(linear, left top, left bottom, from(#ac3232), to(#8a1010));
  background: -webkit-linear-gradient(#ac3232, #8a1010);
  background: -moz-linear-gradient(center top, #ac3232 0%, #8a1010 100%);
  background: -moz-gradient(center top, #ac3232 0%, #8a1010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232,endColorstr=#8a1010);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232, endColorstr=#8a1010)";
  box-shadow: inset 0 0 2px 0 #570000;
  -webkit-box-shadow: inset 0 0 2px 0 #570000;
  -moz-box-shadow: inset 0 0 2px 0 #570000;
  -o-box-shadow: inset 0 0 2px 0 #570000;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #7a6363;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a6363), to(#9c8585));
  background: -webkit-linear-gradient(#7a6363, #9c8585);
  background: -moz-linear-gradient(center top, #7a6363 0%, #9c8585 100%);
  background: -moz-gradient(center top, #7a6363 0%, #9c8585 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7a6363,endColorstr=#9c8585);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7a6363, endColorstr=#9c8585)";
  -webkit-box-shadow: inset 0 1px 2px #473030, 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #473030, 0 0 0 1px #ffffff;
  box-shadow: inset 0 1px 2px #473030, 0 0 0 1px #ffffff;
}
/* Search (#searchform = wc, .searchform = wf) */
#sidebar #searchform,
#footer-widgets #searchform,
#sidebar .searchform,
#footer-widgets .searchform {
  color: #7a6363;
  border: 1px solid #cfb8b8;
}
#comments {
  position: relative;
}
#comments .comment img.avatar {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
#comments .comment .comment-entry,
#comments .comment .comment-text {
  border: 1px solid #cdb6b6;
}
#comments .comment .comment-entry:before,
#comments .comment .comment-text:before {
  border: 0.5em solid #cdb6b6;
  border-color: transparent;
  border-right-color: #cdb6b6;
}
#comments .comment .comment-head,
#comments .comment p.meta {
  border-bottom: 1px dotted #cdb6b6;
}
#respond {
  border: 1px solid #cdb6b6;
}
#respond #reply-title small a:hover {
  background-color: #ac3232;
}
ul.products li.product .img-wrap {
  border: 1px solid #cdb6b6;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
ul.products li.product .img-wrap:hover {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #bca5a5;
  -webkit-box-shadow: 0 1px 2px 0 #bca5a5;
  -moz-box-shadow: 0 1px 2px 0 #bca5a5;
  -o-box-shadow: 0 1px 2px 0 #bca5a5;
}
ul.products li.product h3 {
  color: #7a6363;
}
ul.products li.product .price {
  color: #473030;
}
ul.products li.sub-category img {
  border: 1px solid #cdb6b6;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.woocommerce .woo-pagination,
.woocommerce .woocommerce_ordering {
  border-top: 1px solid #cdb6b6;
}
/* 7.1 Single Product Page */
.woocommerce .type-product .images img {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.woocommerce .type-product .images .thumbnails a img {
  border: 1px solid #bca5a5;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.woocommerce .type-product .summary .price {
  color: #250e0e;
}
.woocommerce .type-product .summary .product_meta {
  background: #dec7c7;
}
.woocommerce .type-product .summary form.cart .button,
.woocommerce .type-product .summary form.cart .button.alt {
  border: 1px solid #bca5a5;
  background-color: #e0c9c9;
  color: #361f1f;
}
.woocommerce .type-product .summary form.cart .button:hover,
.woocommerce .type-product .summary form.cart .button.alt:hover {
  color: #250e0e;
  border: 1px solid #ab9494;
}
.woocommerce .type-product .variations_form table.variations tr td {
  border-bottom: 1px solid #cdb6b6;
}
.woocommerce .type-product h2 {
  color: #250e0e;
}
.woocommerce .woocommerce_tabs ul.tabs li a {
  border: 1px solid #bca5a5;
  border-bottom: 0;
}
.woocommerce .woocommerce_tabs .panel {
  border: 1px solid #bca5a5;
  border-top: 0;
  box-shadow: 0 1px 2px 0 #cdb6b6;
  -webkit-box-shadow: 0 1px 2px 0 #cdb6b6;
  -moz-box-shadow: 0 1px 2px 0 #cdb6b6;
  -o-box-shadow: 0 1px 2px 0 #cdb6b6;
}
.quantity input.qty {
  border: 1px solid #ab9494;
  border-right: 0;
  box-shadow: inset 0 0 2px 0 #cdb6b6;
  -webkit-box-shadow: inset 0 0 2px 0 #cdb6b6;
  -moz-box-shadow: inset 0 0 2px 0 #cdb6b6;
  -o-box-shadow: inset 0 0 2px 0 #cdb6b6;
}
.quantity .plus,
.quantity .minus {
  border: 1px solid #790000;
  background: #ac3232;
  background: -webkit-gradient(linear, left top, left bottom, from(#ac3232), to(#9b2121));
  background: -webkit-linear-gradient(#ac3232, #9b2121);
  background: -moz-linear-gradient(center top, #ac3232 0%, #9b2121 100%);
  background: -moz-gradient(center top, #ac3232 0%, #9b2121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232,endColorstr=#9b2121);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232, endColorstr=#9b2121)";
  text-shadow: 0 1px 0 #790000;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #bd4343;
  background: -webkit-gradient(linear, left top, left bottom, from(#bd4343), to(#9b2121));
  background: -webkit-linear-gradient(#bd4343, #9b2121);
  background: -moz-linear-gradient(center top, #bd4343 0%, #9b2121 100%);
  background: -moz-gradient(center top, #bd4343 0%, #9b2121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343,endColorstr=#9b2121);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343, endColorstr=#9b2121)";
}
#customer_details {
  background: #eadddd;
}
ul.payment_methods .payment_box {
  border: 1px solid #bca5a5;
  background: #dec7c7;
}
#customer_login {
  background: #dec7c7;
}
ul.digital-downloads li {
  border-bottom: 1px solid #cdb6b6;
}
/* 11.1 Buttons */
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border: 1px solid #bca5a5;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ecdfdf));
  background: -webkit-linear-gradient(#ffffff, #ecdfdf);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ecdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ecdfdf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ecdfdf)";
  color: #361f1f;
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffeeee));
  background: -webkit-linear-gradient(#ffffff, #ffeeee);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ffeeee 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ffeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ffeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffeeee)";
}
.button.alt {
  background: #ac3232;
  background: -webkit-gradient(linear, left top, left bottom, from(#ac3232), to(#8a1010));
  background: -webkit-linear-gradient(#ac3232, #8a1010);
  background: -moz-linear-gradient(center top, #ac3232 0%, #8a1010 100%);
  background: -moz-gradient(center top, #ac3232 0%, #8a1010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232,endColorstr=#8a1010);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ac3232, endColorstr=#8a1010)";
  box-shadow: inset 0 1px 0 0 #bd4343;
  -webkit-box-shadow: inset 0 1px 0 0 #bd4343;
  -moz-box-shadow: inset 0 1px 0 0 #bd4343;
  -o-box-shadow: inset 0 1px 0 0 #bd4343;
  border: 1px solid #790000;
  color: #ffbaba;
  text-shadow: 0 1px 0 #680000;
}
.button.alt:hover {
  background: #bd4343;
  background: -webkit-gradient(linear, left top, left bottom, from(#bd4343), to(#8a1010));
  background: -webkit-linear-gradient(#bd4343, #8a1010);
  background: -moz-linear-gradient(center top, #bd4343 0%, #8a1010 100%);
  background: -moz-gradient(center top, #bd4343 0%, #8a1010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343,endColorstr=#8a1010);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bd4343, endColorstr=#8a1010)";
  color: #ffcbcb;
}
/* 11.8 IE specific styling */
.ie6 .button,
.ie6 .button:visited {
  color: #7a6363 !important;
}
.ie6 .reply a {
  color: #7a6363 !important;
}
.ie8 #homepage .slider-wrap #slider .next,
.ie7 #homepage .slider-wrap #slider .next {
  background-color: #ead3d3;
}
.ie8 #homepage .slider-wrap #slider .next:hover,
.ie7 #homepage .slider-wrap #slider .next:hover {
  background-color: #ead3d3;
}
.ie8 #homepage .slider-wrap #slider .prev,
.ie7 #homepage .slider-wrap #slider .prev {
  background-color: #ead3d3;
}
.ie8 #homepage .slider-wrap #slider .prev:hover,
.ie7 #homepage .slider-wrap #slider .prev:hover {
  background-color: #ead3d3;
}
.ie8 #homepage .slider-wrap #slider .jcarousel-prev-disabled,
.ie7 #homepage .slider-wrap #slider .jcarousel-prev-disabled,
.ie8 #homepage .slider-wrap #slider .jcarousel-next-disabled,
.ie7 #homepage .slider-wrap #slider .jcarousel-next-disabled {
  background-color: #ead3d3 !important;
}
#top .nav a {
  color: #9c8585;
}
#top .nav li {
  position: relative;
}
/* 2. MAIN NAVIGATION DROPDOWN MENUS */
#navigation .nav li a {
  border-right: 1px solid #250e0e;
}
#navigation .nav li ul {
  background: #140000;
}
#navigation .nav li ul li a {
  color: #9c8585;
}
#navigation .nav li ul li ul {
  background: #250e0e;
}
#navigation .nav li ul li ul li ul {
  background: #361f1f;
}
#sidebar .widget_product_categories ul li a:hover,
#sidebar .widget_layered_nav ul li a:hover {
  background: #ffebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffebeb), to(#dcc5c5));
  background: -webkit-linear-gradient(#ffebeb, #dcc5c5);
  background: -moz-linear-gradient(center top, #ffebeb 0%, #dcc5c5 100%);
  background: -moz-gradient(center top, #ffebeb 0%, #dcc5c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffebeb,endColorstr=#dcc5c5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffebeb, endColorstr=#dcc5c5)";
  -webkit-box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
  box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
}
#sidebar .widget_product_categories ul li.chosen a,
#sidebar .widget_layered_nav ul li.chosen a {
  background: #ffebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffebeb), to(#dcc5c5));
  background: -webkit-linear-gradient(#ffebeb, #dcc5c5);
  background: -moz-linear-gradient(center top, #ffebeb 0%, #dcc5c5 100%);
  background: -moz-gradient(center top, #ffebeb 0%, #dcc5c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffebeb,endColorstr=#dcc5c5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffebeb, endColorstr=#dcc5c5)";
  -webkit-box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
  box-shadow: 0 0 0 1px #cdb6b6, inset 0 1px 0 0 #ffffff;
}
.layout-right-content #sidebar {
  border-right: 1px solid #cdb6b6;
}
.layout-left-content #sidebar {
  border-left: 1px solid #cdb6b6;
}
header.title a.edit {
  background: #dec7c7;
}
